/*General*/
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #58585a;
}
body {
    position: relative;
}
.container {
    max-width: 970px;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

/*.btn-info {
    margin-top: 17px !important;
    width: 138px;
    border-radius: 1px;
}*/
/*.more-info{
    margin: auto;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}*/

.mehr-info .mehrinfo-aktiv {
    display: none;
}
.mehr-info:hover .mehrinfo-inaktiv,
.mehr-info:active .mehrinfo-inaktiv {
    display: none;
}
.mehr-info:hover .mehrinfo-aktiv,
.mehr-info:active .mehrinfo-aktiv{
    display: block;
    text-align: center;
}
/*Nav Menu*/
nav {
    font-size: 16px;
}
nav.navbar {
    margin-bottom: 25px;
    border: 0;
    min-height: 114px;
}
nav .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
nav .navbar-brand img {
    margin-top: 30px;
    margin-bottom: 30px;
}
nav.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
nav.navbar-default ul {
    margin-top: 75px;
}
nav.navbar-default li > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color:  #91acbc !important;
    letter-spacing: 1px;
}
nav.navbar-default li.active > a,
nav.navbar-default li > a:hover,
nav.navbar-default li > a:active {
    color: #467491 !important;
}

h1 {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -204px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #467491;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3 {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #467491;
}

.agStart {
    position: absolute;
    width: 26%;
    top: 65%;
    right: 37%;
    z-index: 1;
}
.gawriljuk {
    position: absolute;
    left: 50%;
    margin-left: -184px;
    margin-top: 14%;
    text-transform: uppercase;

}
.header-background {
    height: 382px;
}
.title {
    font-size: 16px;
}
section:nth-child(2) {
    margin-top: 240px;
}
/*Carousel Slider*/
#carousel {
    margin-top: 45px;
    margin-bottom: 80px;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control {
    top: 50%;
    left: 0;
    width: 50px;
    margin-top: -25px;
}
.carousel-indicators {
    margin-bottom: -53px;
}
.carousel-indicators li {
    border: 1px solid #00acd6;
}
.carousel-indicators .active {
    background-color: #00acd6;
}

/*Leistungen*/
#leistungen p {
    display: flex;
    align-items: center;
    padding-top: 9px;
    font-weight: bold;
    line-height: 125%;
    color: #58585a;
    border-top: 1px solid #467491;
}
#leistungen p:nth-last-child(1){
    border-bottom: 1px solid #467491;
    padding-bottom: 9px;
}
#leistungen p > span.check {
    margin-right: 10px;
    width: 50px;
    height: 40px;
    background: url('../images/icon_check.svg') no-repeat left;
    background-size: 40px 40px;
}
#leistungen .col-md-6 {
    margin-bottom: 30px;
}
/*Team*/
#team {
    margin-top: 75px;
}
#director{
    background-color: #fcf7f3;
    height: 645px;
}
#director img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -198px;
    height: 415px;
}
