/*General*/
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #58585a;
}
body {
    position: relative;
}

h1 {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -204px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
h3 {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #467491;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #467491;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a {
    text-decoration: none !important;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-transform: none;
}
span {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #58585a;
    text-transform: none;
}
.text-center {
    text-align: center;
}
.img-center {
    margin: 0 auto;
}
.button{
    text-align: center;
    display: inline-block;
}
.button img {
    vertical-align: baseline;
}
.button .button-aktiv {
    display: none;
}
.button:hover .button-inaktiv,
.button:active .button-inaktiv {
    display: none;
}
.button:hover .button-aktiv,
.button:active .button-aktiv{
    display: block;

}
.special-text{
    color: #467491;
}
.container {
    max-width: 970px;
}
/*Nav Menu*/
nav {
    font-size: 16px;
}
nav.navbar {
    margin-bottom: 15px;
    border: 0;
    min-height: 114px;
}
nav .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
nav .navbar-brand img {
    margin-top: 34px;
    margin-bottom: 30px;
}
nav.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    margin-top: -8px;
}
nav.navbar-default ul {
    margin-top: 75px;
}
nav.navbar-default li > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color:  #91acbc !important;
    letter-spacing: 1px;
}
nav.navbar-default li.active > a,
nav.navbar-default li > a:hover,
nav.navbar-default li > a:active {
    color: #467491 !important;
}

/*Note*/
#note {
    background-color: #00ffff;
}
#note h3 {
    text-align: left;
}
#note p {
    padding-bottom: 15px;
}
/*Header*/
#header .container-fluid {
    background: url('../images/logo_bg.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 340px;
}
#header img {
    margin-top: -15%;
    z-index: 1;
}

/* Carousel Slider */
#carousel {
    margin-top: 45px;
    margin-bottom: 80px;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control {
    top: 50%;
    left: 0;
    width: 50px;
    margin-top: -25px;
}
.carousel-indicators {
    margin-bottom: -53px;
}
.carousel-indicators li {
    background-color: #eae7e3;
}
.carousel-indicators .active {
    background-color: #467491;
}

/* Termine & Rezepte */
#appointment-recipe {
    margin-top: 70px;
    margin-bottom: 100px;
}
#appointment-recipe .col-xs-5:nth-child(1) {
    width: 48%;
    margin-right: 25px;
    background-color: #91acbc;
    color: #ffffff;
}
#appointment-recipe .col-xs-5:last-child {
    width: 48%;
    background-color: #467491;
    color: #ffffff;
}
#appointment-recipe .col-xs-2 {
    width: 0;
}
#appointment-recipe h3 {
    color: #ffffff !important;
    padding-bottom: 2px;
}
.appointment, .receipt {
    padding-top: 37px;
}

/*Leistungen*/
#leistungen {
    margin-top: 20px;
}
#leistungen li {
    display: flex;
    align-items: center;
    padding-top: 9px;
    font-weight: bold;
    line-height: 125%;
    color: #58585a;
    border-top: 1px solid #467491;
    border-left: none;
    border-right:none ;
}
.list-group-item:first-child, .list-group-item:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#leistungen li:nth-last-child(1){
    border-bottom: 1px solid #467491;
    padding-bottom: 9px;
}
#leistungen li > span.check {
    margin-right: 10px;
    width: 50px;
    height: 40px;
    background: url('../images/icon_check.svg') no-repeat left;
    background-size: 40px 40px;
}
.leistungen-list {
    margin-bottom: 22px;
}

/*Team*/
#team {
    margin-top: 70px;
}
#team .container-fluid {
    padding-bottom: 150px;
    background-color: #f3f6f8;
}
#team h4 {
    margin-top: 35px;
    margin-bottom: 0;
}

/* Employees */
.employee {
    margin-bottom: 70px;
}
.employee div.col-sm-4 {
    margin-top: -94px;
}
.employee img {
    padding-left: 25px;
    padding-right: 25px
}

/* Kontakt */
.contact-praxis {
    padding: 50px 0 40px 0;
    background-color: #467491;
    color: #ffffff;
}
.contact-praxis .inner {
    padding-right: 100px;
    max-width: 455px;
    float: right;
}
.contact-praxis h4 {
    color: #ffffff;
    margin-bottom: 20px;
}
.contact-praxis p {
    font-size: 16px;
    line-height: 24px;
}
.contact-praxis .bottom {
    margin-top: 32px;
    margin-bottom: 10px;
}
.contact-praxis .bottom div {
    height: 40px;
}
.contact-time {
    padding: 50px 0 40px 0;
    font-size: 16px;
    line-height: 24px;
    background-color: #f3f6f8;
}
.contact-time .inner {
    padding-left: 60px;
    max-width: 455px;
    float: left;
}
.contact-time h4 {
    margin-bottom: 20px;
}
.contact-time p {
    font-size: 16px;
    line-height: 24px;
}
.contact-time strong {
    color: #467491;
}
.contact-time .bottom {
    margin-top: 24px;
}
/* Map */
#map {
    margin-top: 40px;
}
#map img {
    margin-top: 50px;
}

/* Footer */

/*Impressium*/
#daten-schutz {
    margin-bottom: 40px;
}

/*Footer*/
footer {
    height: 60px;
    font-size: 16px;
    line-height: 24px;
    background-color: #467491;
    color: #ffffff;
}
.text-footer {
    padding-top: 12px;
}
footer a {
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    color: #ffffff;
}
footer a:hover,
footer a:focus {
    color: #ffffff;
    text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 991px) {
    #header img {
        width: 40%;
        margin-top: -20%;
    }
    .contact-praxis .inner {
        padding-left: 15px;
        padding-right: 20px;
    }
    .contact-time .inner {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 769px) {
    nav.navbar {
        min-height: 54px;
    }
    nav .navbar-brand img {
        margin-top: 15px;
        margin-bottom: 5px;
    }
    nav.navbar-default ul {
        margin-top: 7px;
    }
    .navbar-default .navbar-toggle {
        margin-top: 29px;
    }
    #header img {
        width: 40%;
        margin-top: -20%;
    }
    #appointment-recipe .col-xs-5:nth-child(1),
    #appointment-recipe .col-xs-5:last-child {
        width: 100%;
    }
    .employee div.col-sm-4 {
        margin-top: 50px;

    }
    .employee img {
        width: 50%;
    }
    #leistungen .col-sm-6:nth-child(1) {
        margin-bottom: -21px;
    }
    #team .container-fluid {
        padding-bottom: 50px;
    }
    .contact-praxis .inner {
        float: none;
    }
    .contact-time .inner {
        float: none;
        padding-left: 15px;
    }
}
